/* Style Appliqué directement au corps de la page HTML */
body {
    font-family: 'Roboto'; /* Tous les textes utiliseront la police Google Font */
    font-size: 16px;
    margin: 0; /* On annule les marges par défaut pour que le site prenne toute la largeur et hauteur de l'écran */
}

/* CSS Grid : Définition générale du positionnement sur la page */
.grid-container {
    display: grid; /* affichage en mode CSS Grid */
    grid-template-columns: 260px 1fr; /* 2 colonnes : 1 de 260 pixels de large, l'autre du reste (fraction) */
    grid-template-rows: 60px 1fr 42px; /* 3 lignes : 60px de haut pour le header, 42 px de haut pour le footer */
    grid-template-areas:
            "aside header"
            "aside main"
            "aside footer"; /* Disposition des différents élements */
    height: 100vh; /* hauteur : tout le viewport */
}

/* CSS Grid : Définition des zones de la grille */
.header {
    grid-area: header;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}


/*
    Header
 */
.header {
    display: flex; /* postionnement Flexible */
    align-items: center; /* centrage vertical des élements enfants */
    justify-content: space-between; /* défini l'espace entre les élements enfants : le premier élement aligné à gauche, le dernier à droite */
    padding: 0 16px;
    background-color: #466f8a;
}

.header-collapse{
    color: #ddd;
}

.header-collapse:hover{
    cursor: pointer;
}

.header-profil {
    color: #ddd;
    display: inline-block; /* Pour aligner verticalement du texte avec un icone FontAwesome */
}

.header-profil i{
    font-size: 2em;
    vertical-align: middle; /* Pour aligner verticalement l'icone FontAwesome quelque soit sa taille de police */
    padding-left: 10px;
}

.header-profil:hover{
    cursor: pointer;
}

/*
    Aside
 */
.aside {
    display: flex; /* Positionnement en boîte flexible */
    flex-direction: column; /* Placement des élements en colonne */
    background-color: #394263;
}

.aside-logo {
    display: flex; /* Autre méthode d'alignement vertical d'un texte avec son icône FontAwesome */
    align-items: center; /* Alignement vertical du contenu */
    margin: 0;
    padding-left: 30px;
    color: white;
    font-size: 2em;
    font-weight: bold;
    height: 60px;
}

.aside-logo i {
    padding-right: 10px;
}

.aside-links {
    padding: 0;
    margin-top: 54px;
    list-style-type: none;
}

.aside-links-item {
    padding: 20px 20px 20px 30px;
    color: #ddd;
}

.aside-links-item i {
    padding-right: 10px;
}

.aside-links-item.active {
    background-color: #466f8a;
    color: #ddd;
}

.aside-links-item:not(.active):hover { /* :not() permet d'appliquer un filtre sur le sélecteur .aside-links-item */
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.aside-links-item-title {
    padding: 20px 20px 10px 30px;
    color: #ddd;
    font-weight: bold;
    text-transform: uppercase; /* Quelque soit le text HTML, il sera affiché en majuscule */
}

.item-subtitle {
    padding: 20px 20px 20px 40px;
}


/*
    Footer
 */
.footer {
    display: flex; /* Positionnement en boîtes flexibles */
    flex-direction: row-reverse; /* Direction : ligne de droite à gauche */
    align-items: center; /* centrage vertical du contenu des élements enfants */
    padding: 0 8px;
    color: #ddd;
    background-color: #466f8a;
}


/*
    Main
 */
.main {
    background-color: #ddd;
}

.main-header {
    display: grid; /* Définition d'un conteneur avec positionnement Grid */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive design : défini dynamiquement la largeur d'une colonne, la limite étant à 250 pixels */
    grid-auto-rows: 100px; /* Définit la taille d'une ligne de grille : 100px de hauteur */
    grid-gap: 20px; /* Espacement vertical et horizontal entre les élements de la grille : 20px */
    margin: 20px;
}

.mini-card {
    display: flex; /* Positionnement Flexible*/
    align-items: center; /* Centrage vertical */
    justify-content: space-between; /* Espacement horizontal maxi */
    padding: 20px;
    background-color: rgba(89, 122, 237, 0.2);
    color: #102b4a;
}

.mini-card-info{
    font-size: 3em;
    text-shadow: 1px 1px 2px black;
}


.main-content {
    column-count: 2; /* Nb de colonnes : ici 2 */
    column-gap: 20px; /* Espacement vertical et horizontal entre les élements de la grille : 20px */
    margin: 20px;
}

.card {
    display: flex; /* Positionnement en boîtes flexibles */
    flex-direction: column; /* Direction en colonnes */
    align-items: center;
    width: 100%;
    background-color: rgba(89, 122, 237, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    color: #102b4a;
}

.card p {
    overflow-y: auto;
    margin: 0;
}

/* Force la hauteur des différents blocs */
.card:first-child {
    height: 695px;
}

.card:nth-child(2) {
    height: 200px;
}

.card:nth-child(3) {
    height: 250px;
}

.card:nth-child(4) {
    height: 205px;
}

footer {
    font-size: 0.8rem;
}

footer a {
    color: #ddd;
    text-decoration: none;
}





